.title_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.wrapper_main {
  padding: 2rem 6rem;
  width: 80%;
  margin: auto;
  h1,
  h2 {
    font-size: 40px;
  }
  p {
    font-size: 30px;
  }
}
.firstclass_content {
  width: 60%;
  margin: auto;
  p {
    margin: 1rem 0;
  }
  .input_content {
    margin: 1rem 0;
  }
  .dropzone {
    background-color: #4c6ed7;

    padding: 20px;
    border-radius: 20px;
    margin-right: 2rem;
  }
  button {
    cursor: pointer;
    border: none;
    padding: 20px;
    border-radius: 10px;
    background-color: #4c6ed7;
    color: white;
  }
}
